:root {
	--color1: rgb(0, 1, 78);
	--color2: white;
	--color3: rgb(200, 209, 255);
	}
	@font-face {
	font-family: 'header-font';
	src: url('./fonts/Pangolin/Pangolin-Regular.ttf');
}
body {
  margin: 0px;
	background-color: var(--color3);
}
h1 {
	font-family: 'header-font';
	font-weight: 900;
	text-align: center;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.directory-comp ul {
	display: flex;
	background-color: var(--color3);
	padding-bottom: 24px;
}
.directory-comp li {
	width: 100%;
}
.directory-comp ul button {
	width: 100%;
	height: 48px;
	background-color: var(--color1);
	color: var(--color2);
	border: 1px solid var(--color2);
}
.gallery-comp ul {
	display: grid;
	justify-items: center;
	gap: 1vw;
	grid-template-columns: repeat(6, 1fr);
 	background-color: var(--color3);
}
.gallery-comp img {
	width: 12vw;
	border: 4px ridge var(--color1);
}
.photo-comp {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.photo-comp img {
	border: 16px solid var(--color1);
	max-height: 768px;
	max-width: 1024px;
}
.photo-comp nav {
	display: flex;
	margin: 24px;
}
.photo-comp .nav-left, .photo-comp .nav-right {
	background-color: var(--color2);
	background-size: cover;
	height: 39px;
	width: 48px;
	cursor: pointer;
	margin: 0px 39px;
}
.photo-comp .nav-left:active, .photo-comp .nav-right:active {
	background-color: gray;
}
.photo-comp .nav-left {
	background-image: url('./icons/arrow-left.svg');
}
.photo-comp .nav-right {
	background-image: url('./icons/arrow-right.svg');
}
.to-gallery {
	background-color: var(--color1);
	color: var(--color2);
	height: 39px;
	width: 96px;
	cursor: pointer;
}
footer {
	background-color: var(--color1);
	margin-top: 24px;
	height: 64px;
}